@model EcuadeliveryV3._5.USUARIO

@{
    ViewBag.Title = "PreFactura";
    Layout = "~/Views/PRODUCTOCliente/_LayoutCar.cshtml";
}

<h2>Factura</h2>

<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USU_NOMBRE)
        </dt>

        <dd>
            <div class="col-md-10">
                @Html.EditorFor(model => model.USU_NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.USU_NOMBRE, "", new { @class = "text-danger" })
            </div>

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USU_APELLIDO)
        </dt>

        <dd>
            <div class="col-md-10">
                @Html.EditorFor(model => model.USU_APELLIDO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.USU_APELLIDO, "", new { @class = "text-danger" })
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USU_CEDULA)
        </dt>

        <dd>
            <div class="col-md-10">
                @Html.EditorFor(model => model.USU_CEDULA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.USU_CEDULA, "", new { @class = "text-danger" })
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USU_TELEFONO)
        </dt>

        <dd>
            <div class="col-md-10">
                @Html.EditorFor(model => model.USU_TELEFONO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.USU_TELEFONO, "", new { @class = "text-danger" })
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USU_EMAIL)
        </dt>

        <dd>
            <div class="col-md-10">
                @Html.EditorFor(model => model.USU_EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.USU_EMAIL, "", new { @class = "text-danger" })
            </div>
        </dd>


    </dl>


    <div id="carrito" class="form-group table-responsive">
        <table class="table" id="lista-detalle">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Sub Total</th>

                </tr>

            </thead>
            <tbody>
            </tbody>
            <tr>
                <th colspan="4" scope="col" class="text-right">SUB TOTAL :</th>
                <th scope="col">
                    <p id="subtotal"></p>
                </th>
                <!-- <th scope="col"></th> -->
            </tr>
            <tr>
                <th colspan="4" scope="col" class="text-right">IVA :</th>
                <th scope="col">
                    <p id="igv"></p>
                </th>
                <!-- <th scope="col"></th> -->
            </tr>
            <tr>
                <th colspan="4" scope="col" class="text-right">TOTAL :</th>
                <th scope="col">
                    <input id="total" name="monto" class="font-weight-bold border-0" readonly style="background-color: white;"></input>
                </th>
                <!-- <th scope="col"></th> -->
            </tr>

        </table>
        <div class="col-xs-12 col-md-4">
            <a href="~/PRODUCTOCliente/PreFactura" class="btn btn-info btn-block">Prefactura</a>
        </div>
    </div>




</div>




<script src="~/js/js/carrito.js"></script>
<script src="~/js/js/compra.js"></script>

